
@media (min-width: 576px) {
    .modal-big {
        max-width: 900px;
    }
}

.pointer:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.light{
    color: #6c757d;
}
.warning{
    color: #ffc107
}
.danger{
    color: #dc3545;
}

.textarea {
    min-height: 250px;
}

.overflow-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 25ch;
}